{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div
  data-section-id="{{ section.id }}"
  data-section-type="columns-with-icons"
  class="columns-with-icons">

  <div class="page-width">  
    {% if section.settings.title != blank %}
      <div class="section-header text-{{ section.settings.align_text }}">
        <h2 class="custom-line">{{ section.settings.title }}</h2>
      </div>
    {% endif %}
    <div class="grid {% unless section.blocks.size == 5 %}grid--uniform{% endunless %} grid--flush-bottom">
      {%- assign grid_item_width = 'medium-up--one-third' -%}
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
        {% when 2 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
        {% when 4 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% endcase %}
      {% for block in section.blocks %}
        {% if section.blocks.size == 5 and forloop.index < 3 %}
          {%- assign column_width = 'medium-up--one-half' -%}
        {% else %}
          {%- assign column_width = grid_item_width -%}
        {% endif %}
        <div class="grid__item {{ column_width }} text-{{ section.settings.align_text }}" {{ block.shopify_attributes }} data-aos="row-of-4">
          <div class="image-wrap">
            {% comment %}
              {% if block.settings.image_svg != blank %}
                <img class="lazyloaded" src="{{ block.settings.image_svg }}" />
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            {% endcomment %}
          </div>
          {% if block.settings.text != blank %}
            <h3>{{ block.settings.text }}</h3>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

</div>
  
{% if section.settings.divider %}</div>{% endif %}


{% schema %}
  {
    "name": "Naturadika Icons Columns",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "text",
            "id": "image_svg",
            "label": "Image SVG URL"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Example title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Naturadika Icons Columns",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
		  {
            "type": "text_block"
          },
		  {
            "type": "text_block"
          },
		  {
            "type": "text_block"
          },
		  {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
